beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
google==2.0.3
google-ai-generativelanguage==0.1.0
google-api-core==2.24.2
google-auth==2.40.1
google-generativeai==0.1.0rc1
googleapis-common-protos==1.70.0
grpcio==1.70.0
grpcio-status==1.62.3
idna==3.10
joblib==1.4.2
nltk==3.9.1
numpy==1.24.4
proto-plus==1.26.1
protobuf==4.25.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyMuPDF==1.24.11
regex==2024.11.6
requests==2.32.3
rsa==4.9.1
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.2.3
